.single-cta {
    padding-bottom: 30px;
    margin-bottom: 30px;
    text-align: center;
    max-width: 400px;
    margin: auto;
}

.f-cta-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.f-cta-icon i {
    font-size: 2rem;
    padding: 10px;
    border-radius: 50%;
}

h5 {
    font-size: 1.5rem;
    margin: 10px 0;
}

p {
    font-size: 1rem;
    line-height: 1.5;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .single-cta {
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    h5 {
        font-size: 1.3rem;
    }

    p {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .single-cta {
        padding-bottom: 15px;
        margin-bottom: 15px;
    }

    h5 {
        font-size: 1.2rem;
    }

    p {
        font-size: 0.8rem;
    }
}
