body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* Prevent horizontal scrolling */
}

.services-08-content p {
  text-align: justify;
  color: black;
}



body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1; /* This makes sure the content area takes up the remaining space */
  padding-top: 80px; /* Adjust this value based on your header's height */
  padding-bottom: 60px; /* Adjust this value based on your footer's height */
}


@media (max-width: 992px) {
  .services-08-content p {
    width: auto;
    height: auto;
  }
}

@media (max-width: 768px) {
  .services-08-content p {
    width: 100%;
    height: auto;
  }
}




@media screen and (max-width: 1000px) {
  .contact-info1 {
    display: none;
  }
}


@media screen and (max-width: 500px) {
  .c1 {
    width: 20px;
  }
}



