body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* Prevent horizontal scrolling */
}

.services-08-content p {
  text-align: justify;
  color: black;
}



body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1; /* This makes sure the content area takes up the remaining space */
  padding-top: 80px; /* Adjust this value based on your header's height */
  padding-bottom: 60px; /* Adjust this value based on your footer's height */
}


.brand-container {
  padding: 0 10px; /* Adds horizontal padding between items */
}

.brand-bx {
  background-color: #fff; /* Optional: Adds background color */
  border-radius: 8px; /* Optional: Adds rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Adds shadow */
}


.product-card {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
}

.product-images img {
  border-radius: 8px;
}

.product-title {
  font-size: 24px;
  font-weight: bold;
}

.product-colors {
  display: flex;
  gap: 10px;
}

.color-dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.product-description {
  font-size: 16px;
  color: #666;
}




/* Default background image for larger screens */
.single-slider {
  background-image: url('../public/img/slider/mm-banner.jpg');
  background-size: cover;
  background-position: center;
}

/* Background image for mobile screens */
@media only screen and (max-width: 768px) {
  .single-slider {
    background-image: url('../public/img/icon/high1.jpeg');
    background-size: cover;
    background-position: center;
  }
}


@media (max-width: 992px) {
  .services-08-content p {
    width: auto;
    height: auto;
  }
}

@media (max-width: 768px) {
  .services-08-content p {
    width: 100%;
    height: auto;
  }
}




@media screen and (max-width: 1000px) {
  .contact-info12 {
    display: none;
  }
}


@media screen and (max-width: 500px) {
  .c1 {
    width: 20px;
  }
}





